@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
body {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.loader {
  display: block;
  margin: 0;
  padding: 0;
  position: fixed;
  background: #F7F7F7;
  opacity: 0.8;
  inset: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  animation: loader 1s 2s forwards;
}

.load {
  display: block;
  width: 80px;
  height: 80px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 44vh;
}

.load div {
  position: absolute;
  border-top: 3px solid purple;
  border-bottom: 3px solid purple;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  opacity: 1;
  border-radius: 50%;
  animation: load 2.5s cubic-bezier(0, 0.2, 0.8, 1) forwards;
}

.load div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes load {
  0% {
    top: 18px;
    left: 18px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
@keyframes loader {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
header {
  width: 100%;
  display: flex;
  justify-content: center;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

h1 {
  font-family: "Shrikhand";
  font-size: 30px;
  font-weight: 400;
  line-height: 44px;
  color: #101010;
}

form {
  width: 100%;
  background: #EAEAEA;
}

.fa-location-dot {
  position: relative;
  z-index: 2;
  top: 27px;
  left: 30%;
  color: #353535;
}

.localisation {
  position: relative;
  top: -8px;
  display: flex;
  flex-direction: row;
  width: 98.5%;
  height: 50px;
  background: #EAEAEA;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
  color: #353535;
  text-align: center;
  border: none;
  z-index: 1;
}

.réservations {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 287px;
  background: #F7F7F7;
}

.h2résa {
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
  text-align: center;
}

.résaP {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #353535;
}

.btnexplore {
  margin: 0 auto;
  display: flex;
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  color: #FFFFFF;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 500;
  line-height: 19px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  padding: 15px 20.75px 15px 20.75px;
  border: none;
}

.btnexplore:hover {
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  filter: brightness(1.1);
  box-shadow: 2px 6px 10px rgba(0, 0, 1, 0.25);
}

.h2fonct {
  position: relative;
  width: 200px;
  left: 13px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.fonctionnement {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 0px 68px 0px;
  background-color: #FFFFFF;
}

.list-button {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.rowbutton {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.fa-circle {
  position: relative;
  left: 0%;
  z-index: 1;
  font-size: 22px;
  color: #9356DC;
}

.fa-1, .fa-2, .fa-3 {
  position: absolute;
  left: 4.5%;
  z-index: 2;
  color: #FFFFFF;
  font-size: 11px;
}

.btnresto, .btnmenu, .btnmiam {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: -2%;
  width: 92%;
  height: 72.38px;
  background: #F7F7F7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  border: none;
}

.btn-in {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.iconphone, .iconlist, .iconstore {
  position: relative;
  margin-left: 5%;
  margin-right: 10%;
  color: #7E7E7E;
}

.iconphone {
  font-size: 20px;
}

.iconlist {
  font-size: 16px;
}

.iconstore {
  font-size: 18px;
}

.txtbtn {
  position: relative;
  /*left:30.49px;*/
  font-family: "Roboto";
  color: #000000;
  font-weight: 500;
  line-height: 19px;
  font-size: 16px;
}

.btnresto:hover, .btnmenu:hover, .btnmiam:hover {
  box-shadow: 2px 6px 15px rgba(0, 0, 2, 0.15);
  background-color: #F5EDFF;
}
.btnresto:hover .iconphone, .btnresto:hover .iconlist, .btnresto:hover .iconstore, .btnmenu:hover .iconphone, .btnmenu:hover .iconlist, .btnmenu:hover .iconstore, .btnmiam:hover .iconphone, .btnmiam:hover .iconlist, .btnmiam:hover .iconstore {
  color: #9356DC;
}

.restaurants {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 54px 0px 52px 0;
  width: 100%;
  background: #F7F7F7;
}

.column-card {
  width: 94%;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.titreresto {
  width: 200px;
  position: relative;
  left: 13px;
  font-family: "Roboto";
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.resto1, .resto2, .resto3, .resto4 {
  position: relative;
  margin: 0 0 18px 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 251px;
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
}

.img1, .img2, .img3, .img4 {
  position: relative;
  width: 100%;
  height: 231px;
  bottom: 60px;
  -o-object-fit: cover;
     object-fit: cover;
}

.new {
  position: absolute;
  right: 10px;
  top: 14.6px;
  width: 75.37px;
  height: 16px;
  background: #99E2D0;
  color: #008766;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  border-radius: 2px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.description {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  top: -70px;
}

.title-card {
  position: relative;
  left: 12.81px;
  top: 10px;
  width: 60%;
  height: 20px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
  line-height: 21.09px;
}

.txt-card {
  position: relative;
  width: 50%;
  height: 24px;
  left: 12.81px;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 17px;
  line-height: 19.92px;
  color: #353535;
}

.like {
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: 10px;
}

.fa-regular.fa-heart {
  padding-left: 1px;
  width: 23px;
  font-size: 22px;
  position: relative;
  right: 10px;
}

.fa-heart:hover {
  font-weight: bold;
  background: -webkit-linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

footer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  height: 211px;
  color: #FFFFFF;
  background: #353535;
}

.logofooter {
  width: 83%;
  height: 27px;
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  padding-left: 25px;
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 99%;
}

.lien-footer {
  width: 100%;
  text-decoration: none;
  color: #FFFFFF;
  height: 20px;
}

.iconutensils {
  font-size: 16px;
}

.iconhandshake {
  transform: rotate(135deg);
  font-size: 13px;
}

.rowfooter {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 88%;
  height: 19px;
  font-size: 16px;
  padding-left: 25px;
}

.txtoficon {
  position: relative;
  top: -35px;
  left: 10.08px;
  height: 19px;
  width: 80%;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}

.mention, .contact {
  height: 20px;
  width: 75%;
  position: relative;
  color: #FFFFFF;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  padding-left: 25px;
}

.mention, .contact {
  top: -35px;
}

@media screen and (min-width: 769px) {
  body {
    width: 100%;
  }
  .loader {
    display: block;
    margin: 0;
    padding: 0;
    position: fixed;
    background: #F7F7F7;
    opacity: 0.8;
    inset: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    animation: loader 1s 2s forwards;
  }
  .load {
    width: 80px;
    height: 80px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 44vh;
  }
  .load div {
    position: absolute;
    border-top: 3px solid purple;
    border-bottom: 3px solid purple;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    opacity: 1;
    border-radius: 50%;
    animation: load 2.5s cubic-bezier(0, 0.2, 0.8, 1) forwards;
  }
  .load div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes load {
    0% {
      top: 18px;
      left: 18px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    4% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    5% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }
  @keyframes loader {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  .fa-location-dot {
    left: 42%;
  }
  .btnexplore {
    left: 42%;
  }
  .btnexplore:hover {
    background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    filter: brightness(1.1);
    box-shadow: 2px 6px 10px rgba(0, 0, 1, 0.25);
  }
  .fonctionnement {
    width: 100%;
    left: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .h2fonct {
    text-align: left;
    padding-left: 9%;
  }
  .list-button {
    position: relative;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
    margin-left: 9%;
  }
  .rowbutton {
    padding: 0;
    width: 32%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .fa-circle {
    position: relative;
    left: 14px;
  }
  .fa-1, .fa-2, .fa-3 {
    position: relative;
    left: 0;
  }
  .btnresto, .btnmenu, .btnmiam {
    width: 94%;
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .btn-in {
    width: 80%;
  }
  .btnresto:hover, .btnmenu:hover, .btnmiam:hover {
    box-shadow: 4px 8px 15px rgba(0, 0, 1, 0.15);
    background-color: #F5EDFF;
  }
  .btnresto:hover .iconphone, .btnresto:hover .iconlist, .btnresto:hover .iconstore, .btnmenu:hover .iconphone, .btnmenu:hover .iconlist, .btnmenu:hover .iconstore, .btnmiam:hover .iconphone, .btnmiam:hover .iconlist, .btnmiam:hover .iconstore {
    color: #9356DC;
  }
  .restaurants {
    width: 100%;
  }
  .titreresto {
    text-align: left;
    padding-left: 9%;
  }
  .column-card {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    padding: 0% 10% 0% 10%;
  }
  .resto1, .resto2, .resto3, .resto4 {
    width: 45%;
  }
  .fa-heart:hover {
    font-weight: bold;
    background: -webkit-linear-gradient(#FF79DA, #9356DC);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
  }
  .title-card {
    width: 98%;
  }
  .txt-card {
    width: 98%;
  }
  footer {
    flex-direction: row-reverse;
    justify-content: flex-end;
    width: 100%;
  }
  .article {
    width: 68%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 7%;
  }
  .lien-footer {
    position: relative;
    width: 20%;
  }
  .rowfooter, .contact, .mention {
    width: 100%;
    left: 0px;
  }
  .txtoficon {
    width: 208px;
    top: -35px;
  }
  .logofooter {
    position: relative;
    width: 90px;
    top: 75px;
  }
}/*# sourceMappingURL=accueil.css.map */