$colour-primary:#9356DC;
$colour-secondary:#FF79DA;
$colour-tertiary:#99E2D0;
$colour-green:#008766;
$colour-blue:#89C8FA;
$colour-nightblue:#003A68;
$colour-white:#FFFFFF;
$colour-lightgrey:#F7F7F7;
$colour-footer:#353535;
$colour-black:#000000;
$colour-texth1h2:#101010;
$colour-localbar:#EAEAEA;
$colour-fondpurple:linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);

$familylogotitre:"Shrikhand";
$familytext:"Roboto";